.container {
	width: 1200px;
	margin: 0 auto;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Scada', sans-serif;
}

@import '../components/header/header';
@import '../components/main/main';
@import '../components/footer/footer';