header.header
	.header__logo
		img(src="icons/amiprof_logo.png", alt="amiprof_logo")
	ul.header__menu
		li.header__menu_item
			a(href="") 
		li.header__menu_item
			a(href="") 
		li.header__menu_item
			a(href="") 
		li.header__menu_item
			a(href="") 
		li.header__menu_item
			a(href="") 
		li.header__menu_item
			a(href="") 
		li.header__menu_item
			a(href="") 