header.header
	.container
		.header__logo
			img(src="icons/amiprof_logo.png", alt="amiprof_logo")
		ul.header__menu
			li.header__menu_item
				a(href="#") О нас
			li.header__menu_item
				a(href="#") Услуги
			li.header__menu_item
				a(href="#") Новости
			li.header__menu_item
				a(href="#") Акции
			li.header__menu_item
				a(href="#") Документы
			li.header__menu_item
				a(href="#") Отзывы
			li.header__menu_item
				a(href="#") Контакты
		.header__contacts
			img.header__contacts_icon(src="icons/phone.svg", alt="phone_icon")
			a.header__contacts_link(href="tel:+73517778070") +7 (351) 777-80-70
			|
			| Заказать звонок